<header class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="http://www.google.com">Ankit Co.</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-items active mr-4"><a href="#">Home</a></li>
    <!-- <li class="nav-items"><a href="#">Milk Tracker</a></li> -->
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-items mr-4">
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-items"><a href="#">Logout</a></li>
  </ul>
</header>
