<div id="top" class="container">top- news/weather/alerts per priority</div>
<div id="bottom" class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 rounded">
    <div class="col">
      <button type="button" class="btn btn-warning">
        <a routerLink="/dairy">Milk Tracker</a></button
      ><BR />
      <button type="button" class="btn btn-danger">
        <a routerLink="#">Phone Book</a>
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary">
        <a routerLink="#">Reminder</a></button
      ><BR />
      <button type="button" class="btn btn-light">
        <a routerLink="#">Recurring charges</a></button
      ><BR />
      <button type="button" class="btn btn-dark">
        <a routerLink="#">File upload/download</a></button
      ><BR />
      <button type="button" class="btn btn-warning">
        <a routerLink="#">Travel Suggestions</a></button
      ><BR />
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <button type="button" class="btn btn-secondary">
        <a routerLink="#">Updates</a><BR />
      </button>
      <button type="button" class="btn btn-danger">
        <a routerLink="#">Person tag</a>
      </button>
    </div>
    <div class="col">Something else</div>
    <BR />
  </div>
</div>
