<div id="top" class="container">top- news/weather/alerts per priority</div>
<div id="bottom" class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 rounded">
    <div class="col">
      <a routerLink="#">Milk Tracker</a><BR />
      <a routerLink="#">Phone Book</a>
    </div>
    <div class="col">
      <a routerLink="#">Reminder</a><BR />
      <a routerLink="#">Recurring charges</a><BR />
      <a routerLink="#">File upload/download</a><BR />
      <a routerLink="#">Travel Suggestions</a><BR />
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <a routerLink="#">Updates</a><BR />
      <a routerLink="#">Person tag</a>
    </div>
    <div class="col">Something else</div>
    <BR />
  </div>
</div>
